/* header style - Start */
header.header {
    height: 50px;
    line-height: 50px;
    background: #000;
    color: #fff;
}

.flex-wrapper a.back {
    color: #000;
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    margin-top: 10px;
}
h1.product-title{
    font-size: 23px;
    margin-top: 6px;
}
.logo-title {
    float: left;
    margin-left: 5%;
    font-weight: bold;
}
.cart-wrapper {
    float: right;
    margin-right: 5%;
    position: relative;
    cursor: pointer;
}
.cart {
    font-weight: bold;
    display: flex;
}
.cart-view {
    background: #fff;
    border: 1px solid #EEE;
    padding: 15px 10px 10px;
    color: #000;
    position: fixed;
    right: 64px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    top: 43px;
   
}


.cart-wrapper:hover .cart-view{
    visibility: visible;
    opacity: 1;
  
}

.arrow-down{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: -6px;
    right: 10px;
}

.cart-list{
    list-style: none;
    background: #fff;
    padding: 5px;
}
.cart-total {
    padding: 5px;
    font-weight: bold;
    border-bottom: 1px solid #EEE;
}
/*  header style - End */


/* Product style - Start */
ul.product-list{
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    background: #efeae3;
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 93%;
    margin: 20px auto;
}
ul.product-list .product-item {
    margin: 5px;
    padding: 10px;
    background: #cecdcb;
    width: 200px;
}

ul.product-list .product-item img {
    width: 200px;
    height: 150px;
}

.p-image {
    width: 100%;
    height: 100%;
}

ul.product-list .product-item h3.product-title{
    color: #484646;
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
}


ul.product-list .product-item .btn-add-to-cart {
    text-align: center;
    padding: 10px 5px;
    margin-top: 5px;
    display: block;
    width: 100%;
    background: #00BCD4;
    color: #000;
    font-size: 16px;
    font-weight: normal;
    outline: none;
    border: none;
    cursor: pointer;
}

ul.product-list .product-item .product-desc {
    font-size: 12px;
    line-height: 18px;
    color: #403f3f;
    text-align: center;
    background: #d8d5d5;
    padding: 5px;
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Modal - Start */

.modal .product-item {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        background: #dad3d3;
        padding: 10px;
}

.modal .product-item h3.product-title {
    text-align: center;
    margin-bottom: 15px;
    display: block;
    /* background: #afa1a1; */
    width: 100%;
    padding: 5px;
    font-size: 18px;
    font-weight: normal;
}

.modal .product-item .btn-add-to-cart {
    text-align: center;
    padding: 10px 5px;
    margin-top: 10px;
    display: block;
    width: 100%;
    background: #00BCD4;
    color: #000;
    font-size: 16px;
    font-weight: normal;
    outline: none;
    border: none;
    cursor: pointer;
}
.modal .product-item .product-desc {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    text-align: center;
    background: #bbbbbb;
    padding: 5px 10px;
    height: 40px;
    max-height: 70px;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5px;
}

/* Modal - End */


/* Product style - End */

/* price */
.price {
          margin: 5px;
          padding: 2px 4px;
          background-color: #03A9F4;
          color: #fff;
          font-size: 12px;
}

.price-total {
    margin-left: 10px;
    padding: 2px 10px;
    background-color: greenyellow;
}

.remove-cart-item {
    margin: 5px;
    padding: 2px 4px;
    background-color: red;
    color: #fff;
    font-size: 12px;
}

.item-name{
    font-size:12px;
}

.view-cart-link {
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
    color: #2196F3;
}