ul.product-list{
    display: flex;
    margin-top: 0px;
    background: #AEAEae;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
ul.product-list .product-item {
    margin: 5px;
    padding: 10px;
    background: #eee;
}

ul.product-list .product-item h3.product-title{
    color: #484646;
    font-size: 17px;
}

ul.product-list .product-item .cta {
    display: block;
    text-align: center;
    background: blue;
    padding: 10px 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

ul.product-list .product-item .product-desc {
    font-size: 18px;
    line-height: 30px;
    color: #524c4c;
}