/* Reset the default style */

*{
  margin: 0px;
  padding: 0px;
}

.container {
  width: 90%;
  margin: 0 auto;
}



.flex-wrapper {
  display: flex;
  justify-content: space-between;
}
.App {
      background: #efeae3;
}
.clearfix {
  clear: both;
}
.pointer {
  cursor: pointer;
}

.star {
  font-size: 20px;
}

footer{
  height: 35px;
  line-height: 35px;
  background: #474646;
}
footer h3 {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}
.tag {
      background: #CDDC39;
      border-radius: 4px;
      padding: 0px 5px;
      font-size: 11px;
      font-weight: normal;
      margin-right: 2px;
      color: #000;
      text-decoration: none;
}
.tagname{
  text-transform: capitalize;
}
.modal .close {
          width: 20px;
          height: 20px;
          font-size: 21px;
          line-height: 20px;
          background: #fff;
          border: none;
          font-weight: bold;
          float: right;
          cursor: pointer;
          margin-bottom: 6px;
          outline: none;
}
.float-right{
  float:right;
}

.float-left{
  float:left;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-left {
  text-align: left;
}